@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
img {
  max-width: 100%;
}

main h2 {
  font-family: "Shrikhand", "sans-serif";
  padding-left: 30px;
}

main i {
  position: relative;
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .fas {
  margin-top: 40px;
  padding-right: 40px;
  color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

main .far {
  margin-top: 40px;
  padding-right: 42px;
}

main:hover .fas {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

*,
::before ::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header and city */
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 4px;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  margin: 0;
  position: relative;
}

@media (max-width: 1000px) {
  main {
    padding: 0px;
  }
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  background-color: #EAEAEA;
  text-align: center;
  padding: 8px;
}

main .city i {
  font-size: 24px;
}

/* Explorer */
.text-explorer {
  text-align: center;
  margin-bottom: 64px;
  background-color: #F6F6F6;
  padding-bottom: 42px;
  padding-top: 18px;
}

.text-explorer h2 {
  margin-top: 32 px;
  font-size: 32px;
}

.text-explorer p {
  font-size: 16px;
}

.text-explorer button {
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  margin-top: 16px;
  -webkit-box-shadow: 2px 1px 16px -3px black;
          box-shadow: 2px 1px 16px -3px black;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.text-explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}

/* Fonctionnement */
.working {
  counter-reset: steps;
  margin-right: 16px;
}

.working ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-bottom: 52px;
}

@media (max-width: 1000px) {
  .working ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.working li {
  position: relative;
  background-color: #F6F6F6;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 24px 32px;
  border-radius: 16px;
  -webkit-box-shadow: 2px 1px 16px -3px black;
          box-shadow: 2px 1px 16px -3px black;
  font-weight: bold;
}

.working li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.working li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #F5EDFF;
}

.working li:hover i.fas {
  color: #9356dc;
}

.working i.fas {
  margin-right: 16px;
  color: #7E7E7E;
  font-size: 24px;
}

.working h2 {
  margin-left: 32px;
  margin-bottom: 32px;
}

/* Menus */
.menus {
  background-color: #F6F6F6;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 52px;
}

.menus h2 {
  padding-top: 60px;
}

.menus h3 {
  margin-top: 0px;
}

.menus .menus-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0px 20px;
}

@media (max-width: 767px) {
  .menus .menus-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.menus .menus-cards .new {
  position: relative;
}

.menus .menus-cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: -ms-grid;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}

.menus .card-image {
  height: 240px;
  background-size: cover;
  border-radius: 16px 16px 0 0;
}

.menus .card-image-1 {
  background-image: url("../images/menu-1.jpg");
}

.menus .card-image-2 {
  background-image: url("../images/menu-2.jpg");
}

.menus .card-image-3 {
  background-image: url("../images/menu-3.jpg");
}

.menus .card-image-4 {
  background-image: url("../images/menu-4.jpg");
}

.menus .card-description {
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.menus .card-description h3 {
  padding: 18px 0px 0px 8px;
  margin-bottom: 0px;
}

.menus .card-description p {
  padding: 0px 0px 18px 8px;
  margin-top: 2px;
}

.menus .card-description i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menus .card-description .fas {
  color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.menus .card-description:hover .fas {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

/* footer */
footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}

footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
}

footer i.fas {
  width: 25px;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */