@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import "../scss/utils/utils.scss";

*,
::before ::after {
  margin: 0;
  box-sizing: border-box;
}

/* Header and city */

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 4px;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0 / 25%);
  margin: 0;
  position: relative;
}

main {
  @media (max-width:1000px) {
    padding: 0px;
  }
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  @include color-city;
  text-align: center;
  padding: 8px;
}

main .city i {
  font-size: 24px;
}

/* Explorer */

.text-explorer {
  text-align: center;
  margin-bottom: 64px;
  @include color-greyf6;
  padding-bottom: 42px;
  padding-top: 18px;
}

.text-explorer h2 {
  margin-top: 32 px;
  font-size: 32px;
}

.text-explorer p {
  font-size: 16px;
}

.text-explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  margin-top: 16px;
  @include base-shadow;
  @include gradient;
  transition: transform 100ms;
}

.text-explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/* Fonctionnement */

.working {
  counter-reset: steps;
  margin-right: 16px;
  & ol {
    display: flex;
    gap: 32px;
    margin-bottom: 52px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  & li {
    position: relative;
    @include color-greyf6;
    &::before {
      content: counter(steps);
      counter-increment: steps;
      color: white;
      @include color-purple;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -16px;
      transform: translateY(-50%);
    }
    list-style-type: none;
    @include color-greyf6;
    padding: 24px 32px;
    border-radius: 16px;
    @include base-shadow;
  }
  & li:hover {
    transform: scale(1.02);
  }
  & i.fas {
    margin-right: 16px;
    @include color-button;
    font-size: 24px;
  }
  & h2 {
    margin-left: 32px;
    margin-bottom: 32px
  }
}

/* Menus */

.menus {
  @include color-greyf6;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 52px;
  h2 {
    padding-top: 40px;
  }
  .menus-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    
    @media (max-width: 767px) {
     grid-template-columns: repeat(1,1fr);
    }
    .new {
      position: relative;  
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 32px;
      width: 80px;
      @include background-color-tertiary;
      @include color-tertiary;
      display: grid;
      place-items: center;
      right: 16px;
      top: 16px;
    }
  }

  .card {
    &-image {
      height: 240px;
      background-size: cover;
      border-radius: 16px 16px 0 0;
    }
    @for $i from 1 through 4 {
      &-image-#{$i} {
        background-image: url("../images/menu-#{$i}.jpg");
      }
    }
    &-description {
      position: relative;
      background-color: white;
      border-radius: 0 0 16px 16px;
     
      h3,p {
        padding: 4.8px;
      }
      i {
       font-size: 32px;
       position: absolute;
       right: 16px;
       top: 50%;
       transform: translateY(-50%);
      }
      .fas {
        color: transparent;
        @include gradient;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms;
      }
      &:hover .fas {
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
      }
    }
  }
}

/* footer */

footer {
  @include background-color-footer;
  padding: 16px 32px;
  color: white;
  h2 {
    font-family: "Shrikhand", "sans-serif";
    font-weight: 500;
  }
}