@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before ::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header and city */
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 4px;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  margin: 0;
  position: relative;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  background-color: #F3F3F3;
  text-align: center;
  padding: 8px;
}

main .city i {
  font-size: 24px;
}

/* Explorer */
.text-explorer {
  text-align: center;
  margin-bottom: 64px;
  background-color: #f6f6f6;
  margin-top: -26px;
  padding-bottom: 42px;
}

.text-explorer h2 {
  margin-top: 32 px;
  font-size: 32px;
}

.text-explorer p {
  font-size: 16px;
}

.text-explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  margin-top: 16px;
  -webkit-box-shadow: 2px 1px 16px -3px black;
          box-shadow: 2px 1px 16px -3px black;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.text-explorer button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
}

/* Fonctionnement */
.working {
  counter-reset: steps;
  margin-right: 16px;
}

.working ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

@media (max-width: 1000px) {
  .working ol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.working li {
  position: relative;
  background-color: #f6f6f6;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  border-radius: 16px;
  -webkit-box-shadow: 2px 1px 16px -3px black;
          box-shadow: 2px 1px 16px -3px black;
}

.working li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
  left: -16px;
}

.working li:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.working i.fas {
  margin-right: 16px;
  color: lightgrey;
  font-size: 24px;
}

.working h2 {
  margin-left: 32px;
}
/*# sourceMappingURL=style.css.map */