@mixin base-shadow {
    box-shadow: 2px 1px 16px -3px black;
}

@mixin color-city {
    background-color: #7e7e7e;
}

@mixin color-greyf6 {
    background-color: #f6f6f6;
}

@mixin color-purple {
    background-color: #9356dc;
}

@mixin color-button {
    color: lightgrey;
}

@mixin background-color-tertiary {
    background-color: #99e2d0 ;
}

@mixin color-tertiary {
    color: darken(#99e2d0, $amount: 50%);
}

@mixin background-color-footer {
    background-color: #353535;
}

@mixin gradient {
    background-image: linear-gradient(
    to top,
    rgba(147, 86, 220, 1),
    rgba(255, 121, 218, 1)
  );
}