$base-shadow: 2px 1px 16px -3px black;

$color-city: #EAEAEA;

$color-greyf6: #F6F6F6;

$color-purple: #9356dc;

$color-button: lightgrey;

$background-color-tertiary: #99e2d0;

$color-tertiary: darken(#99e2d0, $amount: 50%);;

$background-color-footer: #353535;

$gradient: linear-gradient(
    to top,
    rgba(147, 86, 220, 1),
    rgba(255, 121, 218, 1)
  );

$color-purple-hover: #F5EDFF;