@import "../utils/utils.scss";

.banner img {
width: 100%;
height: 60vh;
object-fit: cover;
object-position: center;
@media (max-width: 767px){
    max-width: 100%;
    height: auto;
}

}

main h2 {
    font-family: "Shrikhand", "sans-serif";
    padding-left: 30px;
}

main {
    i {
        
        position: relative;
        font-size: 32px;
        right: 1px;
        top: 50%;
        transform: translateY(-50%);
       }
       .fas {
         color: transparent;
         background-image: $gradient;
         background-clip: text;
         -webkit-background-clip: text;
         opacity: 0;
         transition: all 200ms;
       }
       .far {
    
       }
       &:hover .fas {
         opacity: 1;
         transform: translateY(-50%) scale(1.2);
       }
}