@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@-webkit-keyframes quarterspin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes quarterspin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

*,
::before ::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header and city */
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding: 4px;
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  margin: 0;
  position: relative;
}

@media (max-width: 1000px) {
  main {
    padding: 0px;
  }
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 767px) {
  .banner img {
    max-width: 100%;
    height: auto;
  }
}

.banner img .banner {
  z-index: 0;
  position: relative;
}

main i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .fas {
  color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

main:hover .fas {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

.resto-main {
  margin-top: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
  background-color: #F8f8f8;
  border-radius: 32px 32px 0 0;
}

.resto-main h2 {
  font-family: "Shrikhand", "cursive";
  padding: 16px 16px;
}

.container-coeurs {
  position: relative;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  background-color: #F8f8f8;
  margin: 0;
  padding: 20px 0 40px 40px;
}

h3::after {
  content: "";
  position: absolute;
  left: 40px;
  top: 50px;
  height: 4px;
  width: 46px;
  background-color: #99e2d0;
}

.menus {
  background-color: #F8f8f8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 0 32px;
}

@media (max-width: 767px) {
  .menus {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menus .menus-category {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 2px 1px 16px -3px silver;
          box-shadow: 2px 1px 16px -3px silver;
  height: 70px;
}

.menus .menus-category .menus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menus .menus-category .menus-item .menus-item-price {
  margin-left: auto;
  font-weight: 900;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menus .menus-category .menus-item .menus-item-check {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -64px;
  width: 64px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 70px;
}

.menus .menus-category .menus-item i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 32px;
  border-radius: 16px;
  color: #99e2d0;
}

.menus .menus-category:hover .menus-item-check {
  margin-right: 0;
}

.menus .menus-category:hover i {
  -webkit-animation: quarterspin 0.5s ease-in-out;
          animation: quarterspin 0.5s ease-in-out;
}

.menus-item-description {
  margin: 0;
  padding: 8px;
  overflow: hidden;
  max-width: 70%;
}

.menus-item-description h4 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 6px;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  font-size: 18px;
}

.menus-item-description p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}

footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
}

footer i.fas {
  width: 25px;
  height: 100%;
}

.commander-button {
  text-align: center;
}

.commander-button button {
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  margin-top: 16px;
  -webkit-box-shadow: 2px 1px 16px -3px silver;
          box-shadow: 2px 1px 16px -3px silver;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commander-button button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 0.9;
  cursor: pointer;
}
/*# sourceMappingURL=restaurant.css.map */