@import "../utils/utils.scss";

.banner img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;

  @media (max-width: 767px) {
    max-width: 100%;
    height: auto;
  }

  .banner {
    z-index: 0;
    position: relative;
  }

}

main {
  i {
    font-size: 32px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .fas {
    color: transparent;
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms;
  }

  &:hover .fas {
    opacity: 1;
    transform: translateY(-50%) scale(1.2);
  }
}

.resto-main {
  margin-top: -32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  background-color: $color-greyf6;
  border-radius: 32px 32px 0 0;

  h2 {
    font-family: "Shrikhand", "cursive";
    padding: 16px 16px;


  }
}

.container-coeurs {
  position: relative;
}

.menus {
  background-color: $color-greyf6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 0 32px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  .menus-category {
    background-color: white;
    border-radius: 16px;

    .menus-item {
      display: flex;


      .menus-item-price {
        margin-left: auto;
        font-weight: 900;
        padding: 8px;
        display: flex;
        align-items: flex-end;
      }

      .menus-item-check {
        background-color: $background-color-tertiary;
      }
    }
  }

}

.menus-item-description {
  margin: 0;
  padding: 8px;

  h4,
  p {
    margin: 0;

  }
}