@-webkit-keyframes quarter-spin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes quarter-spin {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.banner img {
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 767px) {
  .banner img {
    max-width: 100%;
    height: auto;
  }
}

.banner img .banner {
  z-index: 0;
  position: relative;
}

main i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .fas {
  color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

main:hover .fas {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

.resto-main {
  margin-top: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 32px 32px 0 0;
}

.resto-main h2 {
  font-family: "Shrikhand", "cursive";
  padding: 16px 16px;
}

.container-coeurs {
  position: relative;
}

.menus {
  background-color: #F6F6F6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 0 32px;
}

@media (max-width: 767px) {
  .menus {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menus .menus-category {
  background-color: white;
}

.menus .menus-category .menus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  -webkit-box-shadow: 2px 1px 16px -3px black;
          box-shadow: 2px 1px 16px -3px black;
}

.menus .menus-category .menus-item .menus-item-price {
  margin-left: auto;
  font-weight: 900;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menus .menus-category .menus-item .menus-item-check {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -64px;
  width: 64px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menus .menus-category .menus-item .menus-item-check i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 32px;
  border-radius: 16px;
  color: #99e2d0;
}

.menus .menus-category .menus-item:hover .menus-item-check .menus-item-check {
  margin-right: 0;
}

.menus-item-description {
  margin: 0;
  padding: 8px;
}

.menus-item-description h4,
.menus-item-description p {
  margin: 0;
}
/*# sourceMappingURL=restaurant.css.map */